@import 'variable.scss';

.App {
  text-align: center;
}

.brewery-card {
  width: 100vw !important;
  background-color: $cardBackgroundColor !important;
}

.search-container {
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.header-container {
  background-color: $backgroundColor
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .brewery-card {
    width: calc(25% - 1.5em) !important;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .brewery-card {
    width: calc(25% - 1.5em) !important;
  }
}
